/*Global Reset & Fonts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.8;
    color: #334155;
    background-color: #f8fafc;
}

.div-container, 
section.container,
#about,
#projects,
#contact{
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
}

/*Hero Section*/
.hero {
    background:linear-gradient(135deg, #1e293b 0%, #0f172a 100%);
    color:#f8fafc;
    padding-top: 100px;
     padding-bottom: 60px;
    text-align: center;
}

.brand-highlight {
    color: #2dd4bf;
    font-family: 'Fira Code', monospace;
    font-style: italic;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

h2 {
    font-size: 2.5rem;
    color: #0f172a;
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

h2 ::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background: #2dd4bf;
    margin: 10 px auto 0;
}

.hero-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}
.btn-main, .btn-sub {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.btn-main {
    background-color: #2dd4bf;
    color: #0f172a;
}
.btn-sub {
    border: 2px solid #94a3b8;
    color: #f8fafc !important;
    background-color: transparent;
    gap : 10px;
}
.btn-sub i {
    color: inherit;
}
.btn-main:hover, .btn-sub:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.skills-highlight ul {
    display: flex;
    flex-wrap: wrap;
    gap : 12px;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.skills-highlight li {
    background: #f1f5f9;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #475569;
    border: 1px solid #e2e8f0;
}

#projects h3 {
    color: #1e293b;
    font-size: 1.5rem;
    margin-top: 30px;
    text-align: left;
}

#projects p {
    text-align: left;
    margin-bottom: 15px;
    max-width: 100%;
}

.project-link {
    display: inline-block;
    color: #2dd4bf;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 40px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}
.project-link :hover {
    border-bottom: 1px solid #2dd4bf;
}
footer {
    padding: 40px 20px;
    background-color: #0f172a;
    color: #94a3b8;
    text-align: center;
}

#contact .hero-btns {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    
}
#contact .btn-sub {
    color: #0f172a !important;
    border: 2px solid #0f172a;
    gap: 10px;
}
#contact .btn-sub i {
    color: inherit;
    color: #0077b5;
}
